body{
  font-size: 16px;
  color:#cc3399;
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #ca2f70;
  border-radius: 0;
  border: 0;
  color: #ffffff;
  height: 100;
 
}

/*for customers.php header*/
.nav-links{
    display: inline-flex;
    justify-content: left;
    align-content: center;
    text-align: center;
    margin-top: 20px;
}

#navLinks a{
  font-size: 1.2em;
  color: ffffff;
  text-decoration: none;
}
.nav-links a {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
#navLinks a:hover { 
  color: #ca2f70;
  background: #ffffff;
}
/*header end*/

/* table */
table{
    border-collapse: collapse;
    margin: 40px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

caption{
    padding: 10px 5px;
    font-size: 25px;
}

thead tr {
    background-color: rgb(10,30,63);
    color: #ffffff;
    text-align: left;
}

th,
td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid rgb(18, 53, 110);
}

.btn-light{
    background-color: #ca3a75;
    border-color: #0d090c;
    color: #ffffff;
    text-align: center;
}

@media(max-width: 700px){
    table{
        font-size: 0.6em;
        margin: 40px 10px;
    }
}