body {
  font-size: 16px;
  color:#cc3399;
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}

/*Header start*/
#header-nav {
  background-color: #ca2f70;
  border-radius: 0;
  border: 0;
  color: #ffffff;
}

#brandname{
color: white; 
font-size: 40px;
font-family: cursive;
}
/*Customers designing*/

#acc
{
  font-size: 1.1em;
  margin-right: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
}
#acc a{
  font-size: 1.2em;
  color: #ffffff;
  text-decoration: none;
}

#acc a:hover { 
  color: #ca2f70;
  background: #ffffff;
}

/*Header end*/

/*card start*/
#layout{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 20px,20px,20px,20px;
}
/*Get started button*/
.btn-dark {
  background-color: #ca2f70;
  border-color:#ca2f70;
  color: #ffffff;
}

/*Honours your trust*/
.text-muted {
    color: #ca2f70;
}
/*card end*/


/*Footer start*/
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: #ca2f70;
  border-top: 0;
  color: #ffffff;
}
.panel-footer div {
  margin-bottom: 10px;
}

#hours, #address {
  line-height: 1.8;
  padding-bottom: 10px;
  font-size: 16px;
}
#hours > span, #address > span {
  font-size: 1.3em;
}

#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-size: 1.3em;
  font-style: italic;
  padding-bottom: 10px;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
#testimonials a{
  text-decoration: none;
  color: #ffffff;
}  
/*Footer end*/
/*Responsive handling*/
@media (max-width: 500px) {
  body {
  font-size: 15px;
}
  #logo-img {
  position: relative;
  background: url('../images/logobank.png') no-repeat;
  display: block;
  width: 50px;
  height: 50px;
}
#brandname{
color: white; 
font-size: 25px;
font-family: cursive;
}
#acc
{
  font-size: 15px;
}
.card-body {
  font-size: 15px;
}

}